#Logo-SPFC{
    width: 120px;
    height: 67px;
    border-radius: 15px;
}

h2,h3{
    color: white;
}
#rgceni{
    width: 900;
    height: 506;
    border-radius: 15px;
}
#lucianogol{
    width: 900;
    height: 506;
    border-radius: 15px;
}
#casares{
    width: 900;
    height: 506;
    border-radius: 15px;
}
#super-copa {
    width: 900;
    height: 506;
    border-radius: 15px;
}
#case{
    width: 900;
    height: 506;
    border-radius: 15px;
}
#pato{
    width: 900;
    height: 506;
    border-radius: 15px;}
#kaka{
    width: 900;
    height: 506;
    border-radius: 15px;
}
#morumbis{
   width: 900;
    height: 506;
    border-radius: 15px;
}
.avatar_sp2{
    width: 80px;
    height: auto

}
.mascote{
    position: fixed;
    bottom: 0;
    right: 20px;   
    width: 120px;  
    height: auto;
    z-index: 1000;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nvbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-bottom: 6px solid rgba(227, 6, 19, 0.6);
}
#links{ 
    padding-right: 20px;

}
#noticias{
    text-align: center; 
    padding: 6px;
    justify-content: space-around;
    display: flex;
    border-radius: 15px;
    color: white;
    flex-wrap: wrap;

}
.noticia{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border: 6px solid; 
    border-radius: 15px;
}
.rodape{
    width: 1905px;
    height: 60px;
    background-color: black;
    border-top: 10px solid rgba(227, 6, 19, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}
.escalaçao{
    width: 100%;
    background-color: black;
    border-top: 10px solid rgba(227, 6, 19, 0.6);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-right: 20px;
}
.jogador{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

}

.space{
    width: 1905px;
    height: 100px;
    background-color: white;
}