#Logo-SPFC{
    width: 120px;
    height: 67px;
    border-radius: 15px;
}
#rgceni{
    width: 920;
    height: 517;
    border-radius: 15px;
}
#lucianogol{
    width: 920;
    height: 517;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nvbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#links{ 
    padding-right: 20px;

}
#noticias{
    text-align: center; 
    padding: 6px;
    justify-content: space-around;
    display: flex;
    border-radius: 15px;
    color: white;

}
.noticia{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border: 6px solid; 
    border-radius: 15px;
}
